
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.title {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: #2196F3;
  opacity: .5;
}

.title .icon {
  display: inline-block;
  background: #fff;
  border-radius: 2px;
  padding: 1px;
  width: 20px;
  height: 20px;
}

.title .icon img {
  height: 20px;
}

.title .description {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}

.title .url {
  display: block;
  margin: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.suspend-message{
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
  color: #555;
}
.quote-message{
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
  font-style: italic;
  color: #555;
}
.name-message{
  margin-top: 5px;
  margin-right:40%;
  text-align: right;
  font-size: 14px;
}
.quote-section{
  margin-top: 25px;
  padding: 20px;
  background: #eee;
}
